@import "null.scss";

@import "mixins.scss";
/*ПЕРЕМЕННЫЕ------------------------------------------------------------------------*/

/*ширина контейнера*/
$maxWidthContainer: 1180px;
/*Отступы у контейнера*/
$paddingContainer: 0px 15px;
/*Максимальная ширина*/
$maxWidth: 1920;
/*Минимальная ширина*/
$minWidth: 320;


// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$roboto:'Roboto', sans-serif;
$monts: 'Montserrat', sans-serif;

/*КОНТЕЙНЕР------------------------------------------------------------------------*/
.container{
    max-width: $maxWidthContainer;
    padding: $paddingContainer;
    margin: 0 auto;
}
/*ВРАППЕР------------------------------------------------------------------------*/
.wrapper{
    overflow: hidden;
    min-height: 100%;
    width: 100%;
}


/*
* Modal styles
**/
.modal {
    font-family: $monts;
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    background: white;
    z-index: 50;
    top: 50%;
    left: 50%;
    padding: 25px;
    max-width: 580px;
    &__bg{
        position: fixed;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 49;
    }
    // .modal__close

    &__close {
        position: absolute;
        right: 10px;
        top: 0px;
        cursor: pointer;
        div{
            width: 30px;
            height: 30px;
            position: relative;
            top: 10px;
            &::before,
            &::after{
                @include pseudo;
                width: 25px;
                height: 1px;
                top: 12.5px;
                left: 3px;
                background: #5B5B5B;
            }
            &:after{
                transform: rotate(45deg);
            }
            &:before{
                transform: rotate(-45deg);
            }
        }
    }

    // .modal__inner

    &__inner {
    }

    // .modal__title

    &__title {
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 20px;
    }

    // .modal__form

    &__form {
    }

    
    &__item{
        position: relative;
        label{
            position: absolute;
            left: 15px;
            color: #787B80;
            top: 43px;
            transition: all 0.5s ease;
            top: 25px;
            font-size: 15px;
        }
        input{
            display: block;
            border: 1px solid #C3C3C3;
            width: 100%;
            margin-bottom: 15px;
            padding: 20px 0px 20px 15px;
            border-radius: 5px;
            font-size: 15px;
            @include input-placeholder{
                opacity: 0;
            }
            &:focus{
                box-shadow: 0px 0px 9px 6px rgba(177,212,241,0.8);
            }   
        }
        textarea{
            margin-bottom: 30px;
            border: 1px solid #C3C3C3;
            width: 100%;
            border-radius: 5px;
            font-size: 15px;
            resize: vertical;
            padding: 20px 0px 20px 15px;
            @include input-placeholder{
                opacity: 0;
            }
            &:focus{
                box-shadow: 0px 0px 9px 6px rgba(177,212,241,0.8);
            }
        }
        input:focus + label,
        input:not(:placeholder-shown) + label,
        textarea:focus + label,
        textarea:not(:placeholder-shown) + label{
            top: 8px;
            left: 15px;
            font-size: 10px;         
        }

    }
    // .modal__inp

    &__inp {

    }

    // .modal__name

    &__name {
    }

    // .modal__tel

    &__tel {
    }

    // .modal__email

    &__email {
    }

    // .modal__prod

    &__prod {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .modal__product

    &__product {
    }

    // .modal__additinal

    &__additinal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    // .modal__switch

    &__switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 25px;
        input{
            display:none;
            &:checked + .modal__check{
                background-color: #00A131;
                border: 3px solid #CEBCBD;
            }
            &:checked + .modal__check:before{
                transform: translateX(22px);
                bottom: 0px;
            }
        }
    }

    // .modal__check

    &__check {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #CEBCBD;
        -webkit-transition: .2s;
        transition: .2s;
        border-radius: 34px;

        &:before{
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 4px;
            bottom: 4px;
            background: linear-gradient(207deg, rgba(0,0,0,1) 0%, rgba(227,180,180,1) 48%, rgba(0,0,0,1) 100%);
            -webkit-transition: .2s;
            transition: .2s;
            border-radius: 50%;
        }
    }

    // .modal__comment

    &__comment {
    }

    // .modal__price

    &__price {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .modal__cost

    &__cost {
    }

    @media(max-width:420px){
        &__item{
            input{
                padding: 10px 0px 10px 15px;
                font-size: 14px;
            }
            textarea{
                font-size: 14px;
            }
            label{
                font-size: 14px;
                top: 14px;
            }
            input:focus + label,
            input:not(:placeholder-shown) + label,
            textarea:focus + label,
            textarea:not(:placeholder-shown) + label{
                top: 2px;
                left: 15px;
                font-size: 9px;         
            }
        }
    }
}

/*
* Custom select styles
**/
.modal__product {
    position: relative;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #B8B8B8;
    border-radius: 5px;
    max-width: 255px;
    width: 100%;
    padding-left: 0;
    &.active{
        box-shadow: 0px 0px 9px 6px rgba(177,212,241,0.8);
    }
    select{ 
        display: none;
    }
    &_selected {
        background: rgba(255, 255, 255, 0.85);
        border: 1px solid #FFFFFF;
        color: black !important;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 34px;
        &:after{
            @include pseudo;
            width: 10px;
            height: 2px;
            background: #C0C0C0;
            transform: rotate(45deg);
            top: 18px;
            right: 20px;
            transition: .4s all ease;
        }
        &:before{
            @include pseudo;
            width: 10px;
            height: 2px;
            background: #C0C0C0;
            top: 18px;
            transform: rotate(-45deg);
            right: 13px;
            transition: .4s all ease;
        }
        &.select__arrow_active{
            background: white;
            color: black !important;
            border: none;
            &:after{
                transform: rotate(140deg);
            }
            &:before{
                transform: rotate(-140deg);
            }
        }
      }
      &_items{
        width: 100.5%;
        position: absolute;
        color: black;
        background-color: white;
        border: 1px solid #B8B8B8;
        top: 92%;
        left: 0;
        right: 0;
        z-index: 99;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 34px;
        div:hover, .same_as_selected{
            color: black;
            background: #EBFDFF;
        }
      }
      
      &_selected, &_items div{
        border: 1px solid #B8B8B8;
        color: black;
        padding: 0px 16px;
        cursor: pointer;
        user-select: none;
    }
    &_hide{
        display: none;
    }


  }
















